PREFIX=dev
PROJECTID=langbridge-presenter-dev
BILLING_ACCOUNT=
REGION=us-east1
GOOGLE_APPLICATION_CREDENTIALS=/home/codespace/.config/gcloud/application_default_credentials.json
XIAOICE_CHAT_SECRET_KEY=your_secret_key_here
XIAOICE_CHAT_ACCESS_KEY=your_access_key_here
VOICE_CHAT_ADMIN_EMAILS=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
FIREBASE_APPCHECK_SITE_KEY=
